
[class*="section"] {
    margin-bottom: 1.5rem;
}

[class*="col-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #006cfa;
    border: 1px solid white;
    color: azure;
}

.nested {
    background-color: #00e165;
    border: 0;
    margin-right: 2px;
}